.menu {
  backgorund: grey;
  &_button {
      backgorund: blue;
      &--red {
          backgorund: red;
      &--ml-big {}
      &--ml-mid {
          backgorund: red;
    }
  }
}

.margin-top-2 {
    margin-top: 2rem;
}

class="menu_button menu_button--red"